@font-face {
    font-family: 'Candice';
    src: url(fonts/Candice.TTF);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url('telephone-bckg.jpg');
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    inset: 0; 
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(3px); 
    z-index: -1; 
}

input {
    border: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: 'Vollkorn';
}

h1 {
    font-family: 'Candice';
    font-size: 4em;
    color: rgb(214, 75, 75);
    -webkit-text-stroke: 1px rgb(203, 198, 113);

    margin-top: 50px;
    margin-bottom: 5px;
    ;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(203, 198, 113);;
}

input[type=button] {
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Candice';
    height: 80px;
    width: 80px;
    font-size: 30px;
    background-color: rgb(214, 75, 75);
    color: rgb(118, 39, 39);
}

input[type=button]:hover {
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    color: rgba(203, 198, 113, 0.847);
}

input[type=tel] {
    background-color: rgb(203, 198, 113);
    border-radius: 10px;
    font-family: 'Candice';
    font-size: 22px;
    height: 40px;
    margin-bottom: 25px;
    padding: 10px;
    text-align: center;
    width: 280px;
    color: rgb(118, 39, 39);
}

input[type=tel]::placeholder {
    color: rgb(88, 92, 58);
    font-family: 'Candice';
    font-size: 25px;
    text-align: center;
    opacity: 0.5;
}

.icon {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 25px;;
    margin-top: 0px;
    font-size: 50px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    color: rgb(214, 75, 75);
    font-family: 'Candice';
    font-size: 1rem;
    letter-spacing: 1.2px;
    user-select: none;
    opacity: 0.8;
}